@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
.container{
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header{
  width: 1920px;
  height: 60px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  margin-top: 20px;
  justify-content: center;
  position: fixed;
  border-radius: 20px;
}

.header_logo_logo{

}
.header_menu{
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.header_menu_text{
  color: white;
  font-size: 20px;
  z-index: 10;

}
.header_menu_text:hover{
  color: white;
  font-size: 20px;

  color: red;

}
.header_menu_text_button{
  margin-left: 50px;
  background-color: yellow;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu_text_button_play{
  font-size: 35px;
}
.main{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  background-color: darkslategray;
  background: url("https://i.ibb.co/jyWFvQP/bg1.png");
  background-size: cover;
}
.main_content{
  width: 85%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_content_logo{
  width: 79%;
  height: 48%;
  background:url("https://i.ibb.co/NShDttX/er-logo-white.png");
  background-size: cover;

}
.main_content_platforms{
  margin-top: 50px;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_content_platforms_steam{
  width: 11%;
  height: 98%;
  background: url("https://i.ibb.co/85QV2t8/steam2.png");
  background-size: cover;

}
/* .tringle{
  position: absolute;
  border: 820px solid transparent; border-bottom: 480px solid yellow; border-left: 420px solid yellow;
  margin-left: -100%;
  margin-top: -400px;
} */
.tringle_text{}
